.notif-group {
    margin-bottom: $space16;

    &:last-child {
        margin-bottom: 0;
    }

    .notif-data-group {
        font-size: $font-size-sm;
        display: block;
        color: $grey-dark;
        margin-bottom: $space8;
    }

    .notif-list {
        background: $white;
        border-radius: $border-radius;
        box-shadow: $card-shadow;

        li {
            padding: $space16;
            border-bottom: solid $border-width $border-color;

            &:last-child {
                border-bottom: none;
            }

            .media-left {
                img {
                    max-width: 40px;
                }
            }

            .media-body {
                h5 {
                    font-size: $font-size-normal;

                    @include for-tablet-portrait-down {
                        margin-bottom: $space4;
                    }
                }

                .notification-time {
                    font-size: $font-size-13;
                    display: flex;
                    align-items: center;
                    color: $black-opacity-54;

                    @include for-tablet-portrait-down {
                        margin-bottom: $space4;
                    }

                    i {
                        font-size: $font-size-normal;
                        margin-right: $space4;
                    }
                }

                p {
                    color: $body-color;
                    font-size: $font-size-sm;
                    margin-bottom: 0;
                }


            }
        }
    }
}